#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

/* 
#header {	
	top:0px
    height:90px;
    background:#999;
    
    width:100%;
    
}

body{
    margin:0px;
    
} */