<h1>{{title}}</h1>
     
      <!-- <form [formGroup]="compile" (ngSubmit)="compileCode()">
          <label>Write Program</label> 
          <input type="text" formControlName="program">

                    
            
          <button type="submit">Compile</button>
      </form>
       -->

    
        <textarea ref-textarea [(ngModel)]="textValue" rows="4"></textarea><br/>
        <button (click)="logText(textarea.value)">Compile</button>
        <button (click)="textValue=''">Clear</button>
        
        <!-- <h2>Log <button (click)="log=''">Clear</button></h2>
        <pre>{{log}}</pre>` 
 -->
    <div *ngIf="compileResult">      
      Compilation Result : {{compileResult.compilationResult}}
      <br/>
      {{compileResult.errors}}
    </div>
       <!-- <li *ngFor="let compile of compileResult">
          <span class="badge">{{compile.compilationResult}}</span> {{compile.errors}}
        </li> 
 -->
      <!-- <ul class="heroes">
        <li *ngFor="let hero of heroes"
          [class.selected]="hero === selectedHero"
          (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
      </ul>
      <div *ngIf="selectedHero">
        <h2>
          {{selectedHero.name | uppercase}} is my hero
        </h2>
        <button (click)="gotoDetail()">View Details</button>
      </div> -->