#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

#wait{
	display:none;
	width:69px;
	height:89px;
	border:1px solid black;
	position:absolute;
	top:105%;
	
	padding:2px;
}
/* 
#header {	
	top:0px
    height:90px;
    background:#999;
    
    width:100%;
    
}

body{
    margin:0px;
    
} */