<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">

    <form method="POST" th:action="@{/login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group ${errorMessage != null ? 'has-error' : ''}">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span th:text="${errorMessage}"></span>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer_body"></div>
</body>
</html>
