<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: login_header"></div>

<div class="container">
    <div class="row">${welcome}</div>
    <div class="row"> Question description: Write code to build a binary tree</div>
    <div class="row">

        <div class="col-lg-6">
            <div th:replace="fragments/editor :: editor_body"></div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer_body"></div>
</body>
</html>